<form action="{{ path('nte_tube_catalogo_homepage') }}" method="POST" role="search"
      class="search ">
    <div class="input-group input-search">
        <input type="text" class="form-control texto2"
               name="texto"
               id="texto"
               value="{{  texto is defined ? texto:'' }}"
               placeholder="Pesquise um tema">
                    <span class="input-group-btn">
                        <button aria-label="Botão pesquisar tema" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
    </div>
</form>