{% extends 'base.admin.html.twig' %}
{% block titulo %} Edição de Categoria{% endblock %}
{% block breadcumbsTitulo %}Edição de Categoria{% endblock %}
{% block conteudo %}
    <div class="row">
        <div class="col-md-12">
            {% if categoria.id %}
                <div class="panel-body text-right">
                    <a class="btn btn-danger " href="{{ path('edital_categoria_remover', {'id': categoria.id}) }}">
                        Remover
                    </a>
                </div>
                <br>
            {% endif %}
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary center-block"><i class="fa fa-save"></i> Salvar
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts2 %}
    <script>
        $('select').select2({
            placeholder: "Selecione um categoria",
            allowClear: true,
        });
    </script>
{% endblock %}
