<footer class="short" id="footer">
    <div class="container">
        <div class="row text-justify">
            <div class="col-md-offset-2 col-md-8">
                <h4>SOBRE</h4>
                <p>
                    A Friga é um sistema que inicialmente foi desenvolvido para atender as demandas do edital
                    seleção de assistente a docência da Universidade Aberta do Brasil. Neste sistema é possível gerenciar todo o processo de seleção,
                    desde a inscrição do candidato até a sua respectiva classificação ao final do processo seletivo.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <a href="https://ufsm.br/">
                        <img alt="" src="{{ asset('assets/img/UFSM_marca-web.png') }}" style="max-width: 100%">
                    </a>
                    <br>
                    <small>
                        <a href="https://www.ufsm.br/pro-reitorias/prograd/cte/" style="color: #777"> Coordenadoria
                            de Tecnologia
                            Educacional </a>
                        <br>
                        Av. Roraima nº 1000 - Prédio 14, Bairro Camobi, CEP: 97105-900 Santa Maria - RS - Telefone:
                        (55) 3220-8007
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
