<h4 style="text-align: center">
    <strong>TERMO DE CONFIDENCIALIDADE E SIGILO</strong>
</h4>
<div style="text-align: justify-all;">
    <p>Eu, <b>{{ usuario.nome }}</b>, portador do CPF nº <b>{{ usuario.cpf }}</b> e exercendo a profissão
        de {{ usuario.profissao }}, venho por meio desta declarar que assumo o compromisso de manter sigilo e
        confidencialidade em relação a todas as informações e documentos aos quais terei acesso enquanto atuo como
        membro da banca examinadora do edital <b>{{ edital.titulo }}</b>, para os devidos fins.
    </p>
    <p>Por este termo de confidencialidade e sigilo comprometo-me: </p>

    <ul>
        <li>A tomar todas as medidas necessárias para garantir a segurança e a privacidade das informações pessoais e
            dados
            sensíveis, conforme estabelecido na Lei Geral de Proteção de Dados (Lei nº 13.709/2018);
        </li>
        <li>A não realizar gravações, cópias, download e ou armazenagem de qualquer documentação pessoal, confidencial
            ou
            sigilosa à qual tenha acesso;
        </li>
        <li>A não fazer uso das informações confidenciais às quais eu tenha acesso com o objetivo de obter benefício
            exclusivo ou unilateral, seja no presente ou no futuro, tampouco compartilhar essas informações com
            terceiros;
        </li>
        <li>A não apropriar-me, nem permitir que terceiros se apropriem de qualquer material confidencial e/ou sigiloso
            disponibilizado durante o processo seletivo deste edital.
        </li>
        <li>A não repassar o conhecimento das informações confidenciais, responsabilizando-me por todas as pessoas que
            vierem a ter acesso às informações, por meu intermédio, e obrigando-me, assim, a ressarcir a ocorrência de
            qualquer dano e/ou prejuízo oriundo de eventual violação de sigilo das informações fornecidas;
        </li>
    </ul>
    <p>A vigência da obrigação de confidencialidade e sigilo, assumida pela minha pessoa por meio deste termo, deverá
        ser mantida por tempo indeterminado.
    </p>
    <p>Fico ciente de que o descumprimento do compromisso assumido através deste termo de sigilo e confidencialidade
        poderá acarretar em sanções administrativas e/ou penais.
    </p>
</div>