<h4 style="text-align: center">
    MINISTÉRIO DA EDUCAÇÃO<br>
    UNIVERSIDADE FEDERAL DE SANTA MARIA<br><br>
    Processo Seletivo Edital Nº {{ edital.numero }}<br><br>
    <strong>DECLARAÇÃO DE NÃO IMPEDIMENTO PARA ATUAR NA BANCA EXAMINADORA</strong>
    <br><br>
</h4>
<div style="text-align: justify-all;">
    <p>Tendo ciência da lista de candidatos com inscrição realizada no
        Edital Nº {{ edital.numero }} - {{ edital.titulo }} e nos termos da Lei N. 9.784, de 29 de janeiro de 1999,
        e, da Lei N. 12.813, de 16 de maio de 2013, declaro que não me enquadro em
        nenhuma das condições de impedimento ou suspeição para participar como membro
        da banca examinadora do edital <b>{{ edital.titulo }}</b>.
    </p>
</div>